/*carousel.css
*/

html, body{
  background-color: #000000
}
.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
h2{
  font-family:sans-serif;
  color:#fff;
  display: inline-block;
}
.carousel{
  width:80%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
  outline: none;
}
.slick-slide img{
/*  width:75%;
  border: 2px solid #fff;*/
  max-height:450px;
}

.slick-next {
  right: -45px;
}

.slick-next:before {
  font-size: 40px;
}

.slick-prev {
    left: -65px;

}

.slick-prev:before {
  font-size: 40px;
}


button{
  background: #cfcfcf;
  font-family: futura;
  text-align: center;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  margin: 15px;
}

button:hover{
  background: #6e6e6e;
}

button a{
  color: #303030;
}

button a:hover{
  color: #303030;
}

a{
  color: #303030;
  text-decoration: none;
}

a:hover{
  color: #6e6e6e;
  text-decoration: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdownContent{
  text-align: center;
  font-size: 14px;
  left:0;
  right:auto;
  margin-left:50px;
  padding: 12px;
  bottom: 0;
  display: none;
  position: absolute;
  min-width: 180px;
  background-color: #e6e6e6;
  border-radius: 10%;

}

.dropdown:hover .dropdownContent{
  display: block;
}


/* Button next to title for info */

.title .dropdown:hover .dropdownContent{
  overflow: scroll;
  padding: 15px;
  left: 0;
  min-width: 300px;
}
