/*gradient.css
*/

body {
  background-color: #000000;
  color: black;
  font-size: 40px;
  text-align: center;
  width: 100%;
}


.grid-container
{
  display: grid;
  grid-template-columns: 400px 2000px 400px;
  grid-template-rows: 600px 300px 100px;
  padding: 50px;
  clear: both;
}

.grid-item
{
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;

}

#target0, #target1, #target2, #target3, #target4, #target5, #target6 {
  width: 270px;
  float: left;
}


#targetImageName{
  color:white;
  z-index: 10;
  margin-top: 400px;
}

#myInnerDiv {
  position: absolute;
  left:925px;
}

#anchor2img {
width: 350px;
}

#anchor1img {
width: 350px;
}


#moreInfo {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;

}

#InfoText {
  width: 50%;
  float: left;
  padding-right: 50px;
}


#whyRepeats {
  width: 50%;
  float: left;
  padding-left: 50px;
}

#randomButtonDiv {
  text-align: center;
}

#randomButton {
    font-family: Didot, "Didot LT STD" !important;
    color: white;
    background: transparent;
    border: 4px solid #C12957;
    border-radius: 6px;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;

}

#randomButton:hover {
      background-color: #C12957;
      color: white;
}


button {
    font-family: Didot, "Didot LT STD" !important;
    color: white;
    background: transparent;
    border: 2px solid #C12957;
    padding-bottom: 7px;
    border-radius: 10px;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

button:hover {
      background-color: #C12957;
      color: white;
      cursor: pointer;
}


#spacer {
  border: 1px solid rgba(0, 0, 0, 0);

}


/* The slider itself */
.slider {
  -webkit-appearance: none;   Override default CSS styles
  appearance: none;
  width: 60%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin-bottom: 30px
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

