/*gradient.css
*/



body {
  background-color: #000000;
  color: black;
  font-size: 40px;
  text-align: center;
  width: 100%;
}


.grid-container
{
  display: grid;
  grid-template-columns: 500px 1100px 500px;
  grid-template-rows: 600px 300px 300px;
  padding: 50px;
  clear: both;
  /*width: 1200px;*/
  /*margin-left: 200px;*/
}

.grid-item
{
  border: 1px solid rgba(1.0, 1.0, 1.0, 1.0);
  border-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;

}

#targetimg
{
    width: 400px;
/*    margin-left: -200px;
   margin-right: auto;
    margin-top: 100px;
*/}

#myInnerDiv {
  position: absolute;
  left:925px;
}

#anchor2img {
height: 420px;
}

#anchor1img {
height: 420px;
}


#randomButtonDiv {
  text-align: center;
}

#randomButton {
    font-family: Didot, "Didot LT STD" !important;
    color: white;
    background: transparent;
    border: 4px solid #C12957;
    border-radius: 6px;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
/*    margin-left: 375px;
    float: left;*/

}

#randomButton:hover {
      background-color: #C12957;
      color: white;
}


button {
    font-family: Didot, "Didot LT STD" !important;
    color: white;
    background: transparent;
    border: 2px solid #C12957;
    padding-bottom: 7px;
    border-radius: 10px;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

button:hover {
      background-color: #C12957;
      color: white;
      cursor: pointer;
}


#spacer {
  border: 1px solid rgba(0, 0, 0, 0);

}

/*#anchor1but:hover {
  cursor: pointer;
}

#anchor2but:hover {
  cursor: pointer;
}*/

/*#anchor1img:hover {
  border: 4px solid #C12957;
  border-radius: 6px;
}

#anchor2img:hover {
  border: 4px solid #C12957;
  border-radius: 6px;
}*/

