/*teaser.css
*/

body {
  background-color: #000000;
  color: black;
  font-size: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.grid-container
{
  width: 100%;

  display: grid;
  /*grid-template-columns: 400px 2000px 400px; 14% 71% 14%
  grid-auto-columns: 14% 71% 14%;*/
  grid-template-columns: 25fr 25fr 25fr 25fr;
/*  grid-template-rows: : 10fr 25fr;
*/
  padding: 50px;
  clear: both;
  float: left;
/*  border: 1px solid white;
*/
}


.grid-item
{
/*  border: 1px solid white;
*/  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  float: left;

}


img {
  max-width: 90%;
}


#element1 {
  opacity: 0;
  animation: pulse 7s ease 1s;
  animation-fill-mode: forwards;
}

#element4 {
  opacity: 0;
  animation: pulse 7s ease 7s;
  animation-fill-mode: forwards;
}

#element6 {
  opacity: 0;
  animation: pulse 7s ease 14s;
  animation-fill-mode: forwards;
}

#element3 {
  opacity: 0;
  animation: pulse 7s ease 21s;
  animation-fill-mode: forwards;
}

#element5 {
  opacity: 0;
  animation: pulse 7s ease 28s;
  animation-fill-mode: forwards;
}
#element8 {
  opacity: 0;
  animation: pulse 7s ease 35s;
  animation-fill-mode: forwards;
}
#element2 {
  opacity: 0;
  animation: pulse 7s ease 42s;
  animation-fill-mode: forwards;
}

#element7 {
  opacity: 0;
  animation: pulse 7s ease 49s;
  animation-fill-mode: forwards;
}

#enterbutton {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  animation:5s ease 5s normal forwards 1 fadein;
  -webkit-animation:1s ease 5s normal forwards 1 fadein;
  opacity:0;
    font-family: Didot, "Didot LT STD" !important;
    color: white;
    background: transparent;
    border: 2px solid #C12957;
    padding-bottom: 7px;
    border-radius: 10px;
    font-size: 40px;
    margin: 10 auto;
    text-align: center;
}

#enterbutton:hover {
      background-color: #C12957;
      color: white;
      cursor: pointer;
}



@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}