<!DOCTYPE html>
<html>
<head>
  <title>ArtAffect.TECH </title>

  <meta charset="utf-8"/>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


 <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

 <link href="{{url_for('static', filename='css/teaser.css')}}" rel="stylesheet">


<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='imgs/palette.png')}}"/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"  crossorigin="anonymous"></script>

   </head>



<body>

    <div class="grid-container">
  <div class='grid-item' id='element1'><img src="/static/imgs/introImages/dante-and-virgil-in-hell-1850.jpg"></div>
  <div class='grid-item' id="element2"><img src="/static/imgs/introImages/fisher-boy-1632.jpg"></div>
  <div class='grid-item'> <br><br><br><img id="element3" src="/static/imgs/introImages/drowning-girl-1963(1).jpg"></div>
   <div class='grid-item' id="element4"><img src="/static/imgs/introImages/kiss-1897.jpg"></div>
   <div class='grid-item' id="element5"><img src="/static/imgs/introImages/democritus.jpg"></div>
   <div class='grid-item'><img id="element6" src="/static/imgs/introImages/girl-with-peaches-1887.jpg"></div>
   <div class='grid-item' id="element7"><img src="/static/imgs/introImages/lichtkreise-kosmischer-regenbogen-1922.jpg"></div>
   <div class='grid-item' id="element8"><img src="/static/imgs/introImages/golden-head-1986.jpg"></div>
    </div>

<button id ='enterbutton'> BEGIN </button>

<script type="text/javascript">
    document.getElementById("enterbutton").onclick = function () {
        location.href="{{url_for('static', filename='html/about.html')}}";
    };
</script>


     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    </body>
</html>